* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#d4ddee;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.primeira{
    text-align: left;
    width: 1000px;
    border: 5px solid white;
    background-color: #fcfdde;
}
.span1 {
    color: red;
}
#container {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 10px;
    width: 100vw;
    height: 300px;
    margin-bottom: 10px;
}
img{
    width: 400px;
    height:auto;
    margin: 30px;
}
#um{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    color: grey;
    border-bottom: 10px;
    background-color: #ffffff;
    padding: 30px;
    height: 340px;
}
#dois{
   
    align-items: center;
    height: 250px;
    width: 300px;
    margin: 5px;
    padding: 10px;
    background-color: #e8eefa;
}

span{
    color: #da1797;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;  
    color: blue;  
}


form {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    background-color:#e8eefa;
    height: 150px;
    width: 250px;

}
.email{
    margin-top: 10px;
    margin-bottom: 2px;
    size: 15px;
}
.senha{
    margin-bottom: 2px;
  
}
.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;

}
.checkbox{
    margin: 0 10px;
}
.label{
    text-align: center;
}
.p{
    text-align: left;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 5px;
    color: #bf98ca;
}

.btn{
    margin-left: 30px;
    margin-bottom: 20px;
}

#tres{
    align-items: center;
    text-align: center;
    height: 80px;
    width: 300px;
    margin: 5px;
    padding: 10px;
    background-color: #e8eefa;
} 
#ultima {
    margin-top: 20px;
    width: 1005px;
    background-color: #bacee9;
    padding: 10px;
    display: flex;
    justify-content:center; 
    align-items: center;
}


@media (max-width: 949px) {
    .container{
        flex-direction: column;
    }
    
}
@media (max-width: 500px) {
    img{
        display: none;
    }
    
}