 @import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/*font-family: 'Dai Banna SIL', serif;*/


:root{
    --lighttest:#FFFFFF;
    --light:#D1DEE9;
    --mid:#8197A9;
    --dark:#283845;
    --darkset:#202C39;
    --brand:#97591c;
    --buttoncolor: #31a931;
    --cancela: red;

}
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 }
body{
    height: 100vh;
    width: 100vw;
    background-image: url(./imagens/pexels-ann-poan-5797903.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

h1{
    font-size: 3em;
    font-weight: 700;
    
}
span{
    color: var(--brand);
}
.container{
    width: 80%;
    max-width: 750px;
    padding: 2em 1em;
    border-radius: 5px;
    background-color: var(--dark);
    box-shadow: 1px 1px 5px var(--darkset);
    color: var(--lighttest);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}
#text-input{
    padding: 0.7em;
    border-radius: 5px;
    margin-right: 1em;
    width: 80%;
}
#text-input:focus{
    outline: 1px solid var(--brand);
}
#adicionar{
    background-color:var(--buttoncolor) ;
}
#cadastro{
    margin-bottom: 2em;
    display: flex;
    justify-content: space-around;
    width: 88%;
}
#tarefas{
    min-width: 90%;
    
}
ul{
    list-style: none;
    min-width: 10em;
  
}
li{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.5em;
   background-color: var(--darkset);
   margin: 0.3em;
   border-radius: 5px;
}
button{
    padding: 0.7em;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button.excluir{
    background-image: url(./imagens/icons8-excluir-48.png);
    background-size: 2em;
    background-position: center center;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
}
button.concluir{
    background-image: url(./imagens/icons8-tarefa-concluída-48.png);
    background-size: 2em;
    background-position: center center;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
}
div > button:hover{
    background-color: var(--dark);
    border-radius: 50%;
    transform: scale(1.2);
}
img{
    width: 2em;
}
.concluido{
    text-decoration: line-through;
}
.modal{
    display: none !important;
    background-color: var(--lighttest);
    color: var(--darkset);
    width: 100%;
    height: 200px;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#cancela{
    background-color:var(--cancela) ;
    color: var(--lighttest);
    border-radius: 5px;
    margin: 5px;
}
#confirma{
    background-color: var(--buttoncolor);
    color: var(--lighttest);
    border-radius: 5px;
    margin: 5px;
}
#p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}
#btn-cancela-confirma{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}