*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background-color: pink;
    height: 100vh;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
.calculadora{
    position: absolute;
    background-color: fuchsia;
    color: white;
    border-radius: 10px;
    padding: 15px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
   
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: black;
    margin: 2px;
    border: none;
    cursor: pointer;
}
.botao:hover{
    background-color: pink;
}
.titulo{
    color: white;
    text-align: center;
}
.resultado{

}