*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
    font-weight: bold;
    height: 60px;
    background-color:orangered;
    position: fixed;
    width: 100%;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.material-symbols-outlined {
    position: absolute;
    right: 50px;
    display:none ;
    color: white;
    cursor: pointer;
 
}

a{
  color: white;
  text-decoration: none;
}
main{
    margin-top: 100px;
    height: 650px;
    width: 100%;
}
ul{
    margin: 50px ;
}

div{
    margin: 10px 30px;
}
#login, #senha{
    margin: 10px 30px;
    border: 1px solid black;
  
}
#bot{
    margin: 10px 30px;
}
footer{
    width: 100%;
    display: flex;
    background-color: orangered;
    text-align: center;
    height: 120px;
    bottom: 0;
    position: fixed;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}
.aparece{
    display: flex;
    flex-direction: column;
    background-color: orangered;
    color: white;
    padding: 30px;
    border: 1px solid gray;
    top: 100%;
    position: absolute;
    right: 0;
  
}
.aparece a{
  margin-top: 30px;
}

@media (max-width: 780px) {
    nav{
        display: none;
    }
    .material-symbols-outlined{
        display: block;
    } 
}