*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.calculadora{
    height: 450px;
    width: 250px;
    background-color: fuchsia;
    color: white;
    border-radius: 10%;
   
}