@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    font-weight: 600;/*largura da font-family*/
    height: 60px;
    background-color: #ffffff;
}
#nav-primeiro{
    width: 100%;
    right: 40px;
}
#nav-segundo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    
}
a {
    text-decoration: none;
}

.secao{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.produtos{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height:350px ;
    background-color: pink;
}
#prod{
    width: 350px;
    height: 300px;
}
