@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}

/* Estilos para o cabeçalho */
header {
    background-color: white
}

#nav-primeiro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
}

#nav-primeiro p {
    font-size: 24px;
    margin: 0;
}
#nav-primeiro img{
    width: 120px;
}
#nav-primeiro input[type="text"] {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 0;
}

#nav-segundo {
    background-color: red;
    text-align: center;
    padding: 10px 0;

}

#nav-segundo a {
    color:white;
    text-decoration: none;
    margin: 0 40px;
}
main{
    display: flex;
    justify-content: center;
}
.principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel{
    width: 800px;
}

#carouselExampleIndicators {
    margin-top: 20px;
    margin-bottom: 50px;
}


.secao {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#div-h3{
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
h3{
    font-weight: 900;

}
h4{
    font-size: 20px;
}

.produtos {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    width: 300px;
    margin: 20px 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.produtos img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Estilos para o rodapé */
footer {
    background-color: #bdb8b8;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
